// env-config.js.template
// This file is NOT used directly. An entrypoint script will run 'envsubst' on it,
// creating a real /usr/share/nginx/html/env-config.js at container startup.

window._env_ = {
  // Each line references an environment variable that you want to inject at runtime.
  REACT_APP_COGNITO_AUTHORITY: "${REACT_APP_COGNITO_AUTHORITY}",
  REACT_APP_COGNITO_CLIENT_ID: "${REACT_APP_COGNITO_CLIENT_ID}",
  REACT_APP_COGNITO_REDIRECT_URI: "${REACT_APP_COGNITO_REDIRECT_URI}",
  REACT_APP_COGNITO_SCOPE: "${REACT_APP_COGNITO_SCOPE}",
  REACT_APP_LOGOUT_URI: "${REACT_APP_LOGOUT_URI}",
  REACT_APP_COGNITO_DOMAIN: "${REACT_APP_COGNITO_DOMAIN}"
};
