*.swp
package-lock.json
__pycache__
.pytest_cache
.venv
*.egg-info

# CDK asset staging directory
.cdk.staging
cdk.out
dicom-data

# Custom additional files
*.log
*.tmp
*.tmp.*
*.cache
*.cache.*
*.pid
*.pid.*
*.out

