window._env_ = {
  REACT_APP_COGNITO_AUTHORITY: "http://localhost/mock-auth",
  REACT_APP_COGNITO_CLIENT_ID: "local-client-id",
  REACT_APP_COGNITO_REDIRECT_URI: "http://localhost",
  REACT_APP_COGNITO_SCOPE: "profile openid email",
  REACT_APP_LOGOUT_URI: "http://localhost/logout",
  REACT_APP_COGNITO_DOMAIN: "http://localhost/mock-cognito",
  BUILD_VERSION: "local",
};
